@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(46deg, #D9AFD9 0%, #97D9E1 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: rgba(255, 255, 255, 0.603);
    border-radius: 25px;
    box-shadow: 5px 5px 10px black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 50px;
}

main h1 {
    font-size: 40px;
}

main div {
    padding: 10px;
}

main label {
    font-weight: bold;
    font-size: 20px;
}

button {
    font-size: 15px;
    padding: 10px;
    border-radius: 15px;
    border: none;
    width: 200px;
    background-color: rgb(96, 63, 103);
    color:white;
}

input {
    width: 80%;
}

input::placeholder {
    padding-left: 5px;
}

label {
    width: 20%;
}